/* Each page will have its own section
in this single CSS file.  */
Body {
    padding-top: 57px;
}


/* //////// Universal or Multipage items /////// */
.pointer {
    cursor: pointer;
}

ul li {
    list-style: none;
}


/* ///// Main index file CSS ////// */
#nav-bar {
    margin: 0;
}

/* index hero image */
#hero {
    height: 600px;
    background-image: linear-gradient( rgba( 0, 0, 0, .6), rgba(0, 0, 0, .2)), url('../img/nexus-header.jpg');
    background-position: center;
    background-size: cover;
}

#logos {
    text-align: center;
    opacity: .2;
}

#logos img {
    max-width: 100%;
}

/* top image container */
#images #lg-top {
    background-image: linear-gradient(to right, rgba(23, 162, 184, .9), rgba(0, 0, 0, .4) ), url('../img/connected-city.jpg');
    background-size: cover;
    background-position: center 40%;
    height: 300px;
}


/* hover text of image one */
#images .img-post-text {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .3);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease-in-out, visability .3s ease-in-out;
}

/* hover effect for text before hover image 3 */
#images #lg-top:hover .img-pre-text {
    visibility: hidden;
    opacity: 0;
    transition: all .3 ease-in-out;
}


/* post text hover effect image 3 */
#images #lg-top:hover .img-post-text{
    visibility: visible;
    opacity: 1;
    transition: opacity .3s ease-in-out, visability .3s ease-in-out;
}

#images #box-btm-left {
    height: 300px;
    background-image: url('../img/our-team.jpg');
    background-size: cover;
    background-position: center center;
}

#images #box-btm-right {
    position: relative;
    height: 300px;    
    background-image:url('../img/business-tech.jpg');
    background-size: cover;
}

#images #box-btm-right h4 {
    visibility: hidden;
}

#images #box-btm-right:hover {
    background-image: linear-gradient( to right, rgba(0, 0, 0, .3), rgba(0, 0, 0, .4) ), url('../img/business-tech.jpg');
}

#images #box-btm-right:hover h4 {
    visibility: visible;
}

/* ///// NEW PAGE ////// Contact Page CSS ////// NEW PAGE ///// */
#contact-hero {
    height: 600px;
    background-image: url('../img/office.jpg');
    background-position: bottom center;
    background-size: cover;
}

#contact-hero div {
    padding-top: 200px;
}

.form-control:hover {
    border: 1px solid rgb(23, 162, 184);
}

#card-top-one {
    background-image: url('/img/office1.jpeg');
    background-size: cover;
    height: 200px;
}

#card-top-two {
    background-image: url('/img/office2.jpg');
    background-size: cover;
    height: 200px;
}

#card-top-three {
    background-image: url('/img/office3.jpg');
    background-size: cover;
    height: 200px;
}

#campus {
    background-image: url('../img/campus.jpg');
    background-size: cover;
    background-position: 80% 75%;
    height: 350px;
    width: 100%;
}


/* ///// NEW PAGE ////// Support Page CSS ////// NEW PAGE ///// */
#support-hero {
    height: 600px;
    background-image: linear-gradient(rgba(0, 0 ,0 ,.1), rgba(0, 0, 0, .2)) ,url('../img/support2.jpg');
    background-position: center bottom;
    background-size: cover;
}

hr {
    width: 90%;
}

/* The expanded live help window */
#live-help {
    width: 400px;
    background: white;
    position: fixed;
    right: .5%;
    top: 40%;
    z-index: 2;
    box-shadow: -3px -2px 6px .5px rgba( 0, 0, 0, .2);
    display: none;
}


/* Small text at the bottom on large help window */
.micro-text {
    font-size: 10px;
}

/* help text display box */
#text-panel {
    height: 180px;
}

#support-text-box {
    border-top: .5px solid rgba( 0, 0, 0, .1);
    border-bottom: .5px solid rgba( 0, 0, 0, .1);
    border-left: none; 
    border-right: none;
}


.fa-question-circle {
    position: fixed;
    right: .5%;
    top: 60%;
    font-size: 30px;
    border-radius: 60px;
    box-shadow: 0px 0px 6px .5px rgba(0, 0, 0, .5);
    padding: 0.3em 0.3em;
    z-index: 1;
}

/* card 0 */
#unit-zero {
    background-image: url('/img/support-tops/zero.png');
    background-size: cover;
    height: 200px;
}

#unit-zero:hover {
    background-image: url('/img/support-tops/zero-post.png');   
}

#unit-zero-btn {
    background: #E85E70;
    color: #ffffff;
}

#unit-zero-btn:hover {
    background: #D45666;
}

/* card 1 */
#unit-one {
    background-image: url('/img/support-tops/one.png');
    background-size: cover;
    height: 200px;
}

#unit-one:hover {
    background-image: url('/img/support-tops/one-post.png');   
}

#unit-one-btn {
    background: #E85E70;
    color: #ffffff;
}

#unit-one-btn:hover {
    background: #D45666;
}

/* card 2 */
#unit-two {
    background-image: url('/img/support-tops/two.png');
    background-size: cover;
    height: 200px;
}

#unit-two:hover {
    background-image: url('/img/support-tops/two-post.png');
    background-size: cover;
    height: 200px;
}

#unit-two-btn {
    background: #CA589E;
    color: #ffffff;
}

#unit-two-btn:hover {
    background: #B54F8E;
}

/* card 3 */
#unit-three {
    background-image: url('/img/support-tops/three.png');
    background-size: cover;
    height: 200px;
}

#unit-three:hover {
    background-image: url('/img/support-tops/three-post.png');
    background-size: cover;
    height: 200px;
}

/* card 4 */
#unit-four {
    background-image: url('/img/support-tops/four.png');
    background-size: cover;
    height: 200px;
}

#unit-four:hover {
    background-image: url('/img/support-tops/four-post.png');
    background-size: cover;
    height: 200px;
}

#unit-four-btn {
    background: #2DB3AC;
    color: #ffffff;
}

#unit-four-btn:hover {
    background: #279C96;
}

/* card 5 */
#unit-five {
    background-image: url('/img/support-tops/five.png');
    background-size: cover;
    height: 200px;
}

#unit-five:hover {
    background-image: url('/img/support-tops/five-post.png');   
}

#unit-five-btn {
    background: #81BB5F;
    color: #ffffff;
}

#unit-five-btn:hover {
    background: #72A654;
}

#server-room {
    height: 300px;
    background-image: linear-gradient( rgba( 0, 0, 0, .1), rgba(23, 162, 184, .2)),url('../img/servers.png');
    background-size: cover;
    background-position: center;
}

/* ///// NEW PAGE ////// Client Portal Page CSS ////// NEW PAGE ///// */
#screen {
    height: 100vh;
}

#login {
    height: 100%;
}

/* Home a tag image (circuit) */
#home-logo img {
    width: 40px;
    height: 30px;
}

/* ///// NEW PAGE ////// Support Page CSS ////// NEW PAGE ///// */
#services-hero {
    height: 600px;
    background-image: linear-gradient(90deg, rgba(2,0,36,.2) 0%, rgba(9,9,121,.2) 35%, rgba(0,212,255,.2) 100%),url('../img/world.jpg');
    background-position: center bottom;
    background-size: cover;
}


